<link href="${appServer}/css/theme/default/css/basemystyle.css" rel="stylesheet">
<div class="mywrapper  animated fadeIn">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins" style="">
				<div class="formbox-hd main_top">
						<h3 class="formbox-tit main-fit">用户管理</h3>
				</div>
				
				<div class="mypanel mypanel-info">
					<div class="mypanel-body" style="overflow:hidden;">
						<div id="gridbox" class="grid-box" style="min-width:855px;max-height:408px;width: 89%;height: 408px;margin-left: 33px;cursor: default;margin-top:30px;"></div>
						<div id="Pagination" class="paging-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
