.nav-menu-content {
	width: 800px
}

.nav-menu-container {
	z-index: 100;
	position: relative
}

.nav-menu-container .nav-show-control {
	height: 46px;
	position: relative;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(32,32,32, 0)
}

.nav-menu-container .nav-show-control .nav-menu-layout {
	height: 215px;
	position: absolute;
	width: 100%;
	transition: all .2s ease-in;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu {
	height: 50px;
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content
	{
	float: left;
	height: 100%;
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box
	{
	
	top: 0;
	width: 100%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box a,.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box span
	{
	font-family: "Microsoft YaHei", arial, courier new, courier,
		"\5b8b\4f53", monospace
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item
	{
	display: inline;
	float: left
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-title
	{
	display: block;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	
	text-align: center;
	text-decoration: none
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .current
	{
	color: #faff64
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content
	{
	height: 161px;
	/*border-right: 1px solid transparent;*/
	transition: all ease-in .2s;
	background-color: #f1f1f1;
	background-color: rgba(241, 241, 241, .94);
	padding-top: 14px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content .menu-sub-list
	{
	padding-left: 0px;
	*zoom: 1
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content .menu-sub-list:after
	{
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content .menu-sub-list .menu-sub-item-wp
	{
	display: inline;
	float: left;
	height: 30px;
	text-align: center
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content .menu-sub-list .menu-sub-item-wp .menu-sub-item
	{
	color: transparent;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content .menu-sub-list .menu-sub-item-wp .menu-sub-item:hover
	{
	color: #36a803;
	border-bottom: 2px solid #36a803
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item:hover .menu-title
	{
	background-color: #ff910e
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item:hover .menu-content
	{
	background-color: #f8f8f8;
	background-color: rgba(241, 241, 241, 1)
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-index
	{
	width: 7%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-cat
	{
	width: 17%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-cat .menu-content
	{
	border-left: 1px solid transparent;
	margin-left: -1px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-cat .menu-content .menu-sub-list .menu-sub-item-wp
	{
	width: 50%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-lanmu
	{
	width: 12.5%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-lanmu .menu-content .menu-sub-list .menu-sub-item-wp
	{
	width: 100%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-user
	{
	width: 10%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-user .menu-content .menu-sub-list .menu-sub-item-wp
	{
	width: 100%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-expert
	{
	width: 10%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-expert .menu-content .menu-sub-list .menu-sub-item-wp
	{
	width: 100%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-jingyan
	{
	width: 8%
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item-jingyan .menu-title
	{
	border-right: 0
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section
	{
	display: inline;
	float: right;
	width: 368px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-section-devide
	{
	display: inline;
	float: left;
	width: 2px;
	height: 50px;
	background-repeat: no-repeat;
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list
	{
	display: inline;
	float: left;
	margin-top: -1px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list a:hover
	{
	text-decoration: none
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .menu-right-list-item
	{
	display: inline;
	float: left;
	width: 118px;
	text-align: center;
	position: relative
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .menu-right-list-item .menu-right-list-link
	{
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	line-height: 50px;
	height: 50px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .menu-right-list-item .menu-right-list-link .item-icon
	{
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	margin-right: 4px
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .menu-right-list-item .menu-right-list-link .item-name
	{
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	font-size: 16px;
	color: #fff
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .menu-right-list-item .right-list-item-devide
	{
	width: 1px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 12px;
	background-repeat: no-repeat;
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .open-dev .menu-right-list-link .item-icon
	{
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .zhidao-app .menu-right-list-link .item-icon
	{
	width: 12px;
	height: 16px;
	background-repeat: no-repeat;
}

.nav-menu-container .nav-show-control .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-right-section .menu-right-list .user-center .menu-right-list-link .item-icon
	{
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.nav-menu-container .nav-show-control-show .nav-menu-layout {
	background-color: #f1f1f1;
	background-color: rgba(243, 243, 243, .9)
}

.nav-menu-container .nav-show-control-show .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content
	{
	border-color: #ddd
}

.nav-menu-container .nav-show-control-show .nav-menu-layout .nav-menu .nav-menu-content .content-box .menu-item .menu-content .menu-sub-list .menu-sub-item-wp .menu-sub-item
	{
	color: #353535
}

.top-navigation .nav>li>a {
	padding: 15px 20px;
	color: #fff;
}

.nav-userinfo {
	margin-left:10%;
	float: right;
	width: 300px;
	height: 100%;
	margin: auto;
	text-align: center;
	line-height: 50px;
}

.userinfo {
	float: right;
	width: initial;
}

.nav-userinfo>div>a {
	font-family: "Microsoft YaHei", arial, courier new, courier,
		"\5b8b\4f53", monospace;
	color: #fff;
}

.userout {
	float: right;
	margin: 0px 10px;
}